* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  gap: 15px;
  padding: 20px;
}

.money {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  word-wrap: break-word;
}

#date {
  font-size: 1.5rem;
  color: black;
  margin-top: 20px;
}

.dolar-symbol {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.converter {
  width: 100%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

.convert-button {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.convert-button:hover {
  background-color: #218838;
}

.number {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}

@media (min-width: 768px) {
  form {
    flex-direction: row;
  }

  input[type="number"] {
    width: 70%;
  }

  .convert-button {
    width: 30%;
  }
}

/* SweetAlert2 custom styles */
.swal2-title {
  font-size: 24px;
  color: #3085d6;
  font-weight: lighter;
  text-align: center;
}

.swal2-html-container {
  font-size: 16px;
  color: #555;
  text-align: center;
}
